name: CD

on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  # <%= if (docker || helm) { %>
  # <%= if (docker) { %>
  docker:
    name: Build Docker Image
    uses: ./.github/workflows/⚡reusable-docker.yaml
    secrets: inherit
    with:
      atomi_platform: let___platform___
      atomi_service: let___service___

      dockerfile: ./infra/Dockerfile
      image_name: api

      version: ${{ github.ref_name }}
  # <%= } %>
  # <%= if (helm) { %>
  helm:
    name: Helm Chart
    uses: ./.github/workflows/⚡reusable-helm.yaml
    secrets: inherit
    with:
      atomi_platform: let___platform___
      atomi_service: let___service___
      chart_path: ./infra/root_chart

      version: ${{ github.ref_name }}
  # <%= } %>
  # <%= } else { %>
  placeholder:
    name: Placeholder CD
    runs-on: ubuntu-latest
    steps:
      - name: Placeholder Step
        run: echo "Placeholder step ${{ github.ref_name }}"
# <%= } %>
